<div class="row" id="principal">
    <div class="col-3" id="sidebar">
        <app-sidebar></app-sidebar>
    </div>

    <div class="col-9" id="contenido">
        <div class="row">
            <h4> Nuestros salones </h4>
            <hr>
            <div class="col-6">
                <div class="card" style="width: 18rem;">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="./../../assets/img/agata/agata1.jpg" class="d-block w-100" alt="..."height="300px">
                            </div>
                            <div class="carousel-item">
                                <img src="./../../assets/img/agata/agata2.jpg" class="d-block w-100" alt="..."height="300px">
                            </div>
                            <div class="carousel-item">
                                <img src="./../../assets/img/agata/agata3.jpg" class="d-block w-100" alt="..."height="300px">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">"Ágata"</h5>
                        <a routerLink="/agata" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card" style="width: 18rem;">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="./../../assets/img/fluorita/fluorita1.jpg" class="d-block w-100" alt="..."height="300px">
                            </div>
                            <div class="carousel-item">
                                <img src="./../../assets/img/fluorita/fluorita2.jpg" class="d-block w-100" alt="..."height="300px">
                            </div>
                            <div class="carousel-item">
                                <img src="./../../assets/img/fluorita/fluorita3.jpg" class="d-block w-100" alt="..."height="300px">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">"Fluorita"</h5>
                        <a routerLink="/fluorita" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <div class="card" style="width: 18rem;">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="./../../assets/img/granate/granate1.jpg" class="d-block w-100" alt="..."height="300px">
                            </div>
                            <div class="carousel-item">
                                <img src="./../../assets/img/granate/granate2.jpg" class="d-block w-100" alt="..."height="300px">
                            </div>
                            <div class="carousel-item">
                                <img src="./../../assets/img/granate/granate3.jpg" class="d-block w-100" alt="..."height="300px">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">"Granate"</h5>
                        <a routerLink="/granate" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card" style="width: 18rem;">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="./../../assets/img/turquesa/turquesa1.jpg" class="d-block w-100" alt="..."height="300px">
                            </div>
                            <div class="carousel-item">
                                <img src="./../../assets/img/turquesa/turquesa2.jpg" class="d-block w-100" alt="..."height="300px">
                            </div>
                            <div class="carousel-item">
                                <img src="./../../assets/img/turquesa/turquesa3.jpg" class="d-block w-100" alt="..."height="300px">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">"Turquesa"</h5>
                        <a routerLink="/turquesa" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>