<div class="row" id="principal">
    <div class="col-3" id="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-9" id="contenido">
        <h4> Enviado,¡muchas gracias! En breve le enviaremos el presupuesto para ese gran evento. </h4>
        <hr>
        <h5 class="title"> Seguir navegando </h5>
        <div class="row cards">
            <div class="col-3">
                <div class="card" style="width: 16rem;">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="./../../assets/img/agata/agata2.jpg" class="d-block w-100" alt="..."height="200px" width="600px">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">"Ágata"</h5>
                        <a routerLink="/agata" class="btn btn-primary">Ver salón</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 16rem;">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="./../../assets/img/fluorita/fluorita3.jpg" class="d-block w-100" alt="..."height="200px">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">"Fluorita"</h5>
                        <a routerLink="/fluorita" class="btn btn-primary">Ver salón</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 16rem;">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="./../../assets/img/granate/granate1.jpg" class="d-block w-100" alt="..."height="200px">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">"Granate"</h5>
                        <a routerLink="/granate" class="btn btn-primary">Ver salón</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 15rem;">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="./../../assets/img/turquesa/turquesa3.jpg" class="d-block w-100" alt="..."height="200px">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">"Turquesa"</h5>
                        <a routerLink="/turquesa" class="btn btn-primary">Ver salón</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>