@import url(./../../styles.css);

#carrusel{
    max-width: 100%;
    max-height: 500px;
    display: flex;
}

.carousel-caption{
    background-color: var(--fondo-trans);
    
}

img{
    width: 900px;
    height: 380px;
}

h5{
    color: var(--fuente-oscura-2);
    font-weight:bold;
}

h4{
    color: var(--fuente-clara-2)
}

hr{
    color: var(--fuente-oscura-2);
    font-weight:bold;
}

.resaltado{
    color: var(--fuente-clara-1);
    font-weight: bold;
    text-align: center;
}

.texto{
    color: var(--fuente-clara-2);
}
